<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>List Smartphone</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<div id="container">
    <h1>All Smartphones</h1>
    <a th:href="@{/books/creat}">Create Books</a>
    <div>
        <p>Here you can see a list of Books:</p>
        <div id="sPhoneFromResponse"></div>
    </div>
    <table border="1px" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Price</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="book : ${allBooks}">
            <tr>
                <td th:text="${book.nameBook}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.price}"></td>
                <td th:text="${book.category.nameCategory}"></td>
                <td>
                    <a th:href="@{/books/edit/__${book.id}__}">Edit</a><br/>
                    <a th:href="@{/books/delete/__${book.id}__}">Delete</a><br/>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <div>
        <a th:href="@{'/books/viewBooks'(page=${allBooks.number - 1})}" th:if="${allBooks.hasPrevious()}">Previous</a>
        <span th:text="${allBooks.number + 1}"></span>/<span th:text="${allBooks.totalPages}"></span>
        <a th:href="@{'/books/viewBooks'(page=${allBooks.number + 1})}" th:if="${allBooks.hasNext()}">Next</a>
    </div>
</div>
</body>
</html>